#bottom{
  margin-top:3%;
  outline: 3px solid #F63333;
}

.top{
  margin-top:3%
}

body{
  margin-left: 9%;
  margin-right: 9%;
}

img{
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  display: block;
}
